@charset "UTF-8";

@font-face {
  font-family: "appton";
  src:url("../fonts/appton.eot");
  src:url("../fonts/appton.eot?#iefix") format("embedded-opentype"),
    url("../fonts/appton.woff") format("woff"),
    url("../fonts/appton.ttf") format("truetype"),
    url("../fonts/appton.svg#appton") format("svg");
  font-weight: normal;
  font-style: normal;

}


[data-icon]:before {
  font-family: "appton" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "appton" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light-bulb:before {
  content: "\61";
}
.icon-plug:before {
  content: "\62";
}
.icon-shield-settings:before {
  content: "\63";
}
.icon-stack-of-sheets:before {
  content: "\64";
}
.icon-android:before {
  content: "\65";
}
.icon-apple:before {
  content: "\66";
}
.icon-windows:before {
  content: "\67";
}
.icon-quote:before {
  content: "\68";
}
.icon-3d-sensor:before {
  content: "\69";
}
.icon-alarm:before {
  content: "\6a";
}
.icon-antivirus:before {
  content: "\6b";
}
.icon-antivirus-1:before {
  content: "\6c";
}
.icon-antivirus-2:before {
  content: "\6d";
}
.icon-artificial-intelligence:before {
  content: "\6e";
}
.icon-battery:before {
  content: "\6f";
}
.icon-binary-code:before {
  content: "\70";
}
.icon-circuit-board:before {
  content: "\71";
}
.icon-click:before {
  content: "\72";
}
.icon-coding:before {
  content: "\73";
}
.icon-combination:before {
  content: "\74";
}
.icon-computer-3:before {
  content: "\75";
}
.icon-controller:before {
  content: "\76";
}
.icon-cost-per-unit:before {
  content: "\77";
}
.icon-cube:before {
  content: "\78";
}
.icon-drone:before {
  content: "\79";
}
.icon-earth-globe:before {
  content: "\7a";
}
.icon-fingerprint:before {
  content: "\41";
}
.icon-fingerprint-scan:before {
  content: "\42";
}
.icon-fingerprint-scan-1:before {
  content: "\43";
}
.icon-fire-extinguisher:before {
  content: "\44";
}
.icon-fire-extinguisher-1:before {
  content: "\45";
}
.icon-firewall:before {
  content: "\46";
}
.icon-firewall-1:before {
  content: "\47";
}
.icon-firewall-2:before {
  content: "\48";
}
.icon-guide:before {
  content: "\49";
}
.icon-hand:before {
  content: "\4a";
}
.icon-handcuffs:before {
  content: "\4b";
}
.icon-hose:before {
  content: "\4c";
}
.icon-industrial-robot:before {
  content: "\4d";
}
.icon-industrial-robot-1:before {
  content: "\4e";
}
.icon-innovation:before {
  content: "\4f";
}
.icon-intelligence-quotient:before {
  content: "\50";
}
.icon-jail:before {
  content: "\51";
}
.icon-key:before {
  content: "\52";
}
.icon-keyhole:before {
  content: "\53";
}
.icon-kit:before {
  content: "\54";
}
.icon-laptop:before {
  content: "\55";
}
.icon-laptop-1:before {
  content: "\56";
}
.icon-laptop-2:before {
  content: "\57";
}
.icon-lockpick:before {
  content: "\58";
}
.icon-maintenance:before {
  content: "\59";
}
.icon-monitor:before {
  content: "\5a";
}
.icon-motor:before {
  content: "\30";
}
.icon-padlock:before {
  content: "\31";
}
.icon-padlock-1:before {
  content: "\32";
}
.icon-padlock-2:before {
  content: "\33";
}
.icon-padlock-3:before {
  content: "\34";
}
.icon-paper-shredder:before {
  content: "\35";
}
.icon-pin-code:before {
  content: "\36";
}
.icon-pin-code-1:before {
  content: "\37";
}
.icon-plan:before {
  content: "\38";
}
.icon-plug-1:before {
  content: "\39";
}
.icon-protoboard:before {
  content: "\21";
}
.icon-remote-control:before {
  content: "\22";
}
.icon-remote-control-1:before {
  content: "\23";
}
.icon-repair:before {
  content: "\24";
}
.icon-robot:before {
  content: "\25";
}
.icon-robot-1:before {
  content: "\26";
}
.icon-robot-2:before {
  content: "\27";
}
.icon-robot-3:before {
  content: "\28";
}
.icon-router:before {
  content: "\29";
}
.icon-safebox:before {
  content: "\2a";
}
.icon-safebox-1:before {
  content: "\2b";
}
.icon-scan:before {
  content: "\2c";
}
.icon-scan-1:before {
  content: "\2d";
}
.icon-search:before {
  content: "\2e";
}
.icon-seatbelt:before {
  content: "\2f";
}
.icon-security:before {
  content: "\3a";
}
.icon-security-1:before {
  content: "\3b";
}
.icon-security-camera:before {
  content: "\3c";
}
.icon-security-camera-1:before {
  content: "\3d";
}
.icon-security-camera-2:before {
  content: "\3e";
}
.icon-security-camera-3:before {
  content: "\3f";
}
.icon-security-camera-4:before {
  content: "\40";
}
.icon-server-3:before {
  content: "\5b";
}
.icon-settings-3:before {
  content: "\5d";
}
.icon-settings-4:before {
  content: "\5e";
}
.icon-share:before {
  content: "\5f";
}
.icon-shield:before {
  content: "\60";
}
.icon-shield-1:before {
  content: "\7b";
}
.icon-shield-2:before {
  content: "\7c";
}
.icon-shield-3:before {
  content: "\7d";
}
.icon-sign:before {
  content: "\7e";
}
.icon-siren:before {
  content: "\5c";
}
.icon-smartphone:before {
  content: "\e000";
}
.icon-smartphone-1:before {
  content: "\e001";
}
.icon-solar-energy:before {
  content: "\e002";
}
.icon-speaker:before {
  content: "\e003";
}
.icon-target:before {
  content: "\e004";
}
.icon-team:before {
  content: "\e005";
}
.icon-traffic-cone:before {
  content: "\e006";
}
.icon-traffic-signal:before {
  content: "\e007";
}
.icon-usb:before {
  content: "\e008";
}
.icon-warning:before {
  content: "\e009";
}
.icon-webcam:before {
  content: "\e00a";
}
.icon-worldwide:before {
  content: "\e00b";
}
